{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<div class="container-fluid text-center">
{% for patient in patientlist %}
    {% if patient.id == id %}
        <h1 class="display-3">{{patient.name}} {{patient.surname}}</h1>
        <img class="img-fluid rounded" style="width:300px" src="https://thispersondoesnotexist.com/" alt="ProfileImage">
        <br>
        <br>
        <h3>Address: {{patient.address}}</h3>
        <h5>Patient in {{patient.speciality.getSpecialityName()}}</h5>

    {% endif %}
{% endfor %}
</div>
{% endblock %}
